body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
  padding: 7px 15px;
  color: #fff;
  background: purple;
  border-radius: 8px;
  border: none;
}

.container{
  display: flex;
}

.app{
  width: 100%;
  height: 100%;
}

.hero{
  height: 400px;
  background: rgb(227, 129, 227);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero input{
  display: block;
  width: 40%;
  padding: 20px 7px;
  font-size: 18px;
  margin: auto;
  border-radius: 10px;
  /* margin-bottom: 0;
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%); */
  border: none;
}

.imageContainer{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.imageDetails{
  position: relative;
}

.imageDetails img{
  width: 100%;
  
}

.image-name{
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: grey;
  padding: 3px;
}

.login{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.link-btns{
  display: flex;
  gap: 1.5rem;
  margin: auto;
}

@media screen and (max-width: 450px) {
  .imageContainer{
    grid-template-columns: repeat(1, 1fr);
  }
}
